html,body {
    height: 100%;
    background-color: #F5F6F8;
}
.container {
    height: 420px;
    width: 255px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 16px;
    word-wrap:break-word; 
    font-size: 14px;
    background-color: #fff;
}

.container .el-image {
    width: 170px;
    height: 225px;
    transform: translateX(25%);
    padding-bottom: 10px;
}

.container .el-image img {
    border-radius: 4px;
}